.reveal pre code {
    max-height: 800px;
}
.line-through {
    text-decoration: line-through;
}
.reveal .hljs-keyword {
    font-weight: bold;
}
.reveal .hljs-symbol {
    color: #20999D;
    background: none;
    font-style: italic;
}
